{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  
  <link href="{% static 'assets/img/favicon.jpg' %}" rel="icon">

  
 
</head>

<body>
    
  {% include 'header.html' %}
      

    <main class="main">
       <!-- Chefs Section -->
    <section id="chefs" class="chefs section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <br><br>
          <h2>Chefs</h2>
          <div><span>Our Professional</span> <span class="description-title">Chefs</span></div>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-5">
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <div class="pic"><img src="{% static 'assets/img/chefs/chef1.jpg' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Olivia Harris</h4>
                  <span>Executive Chef</span>
                  <div class="social">
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <div class="pic"><img src="{% static 'assets/img/chefs/chef2.jpg' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Sophia Roberts</h4>
                  <span>Pastry Chef</span>
                  <div class="social">
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="member">
                <div class="pic"><img src="{% static 'assets/img/chefs/chef3.jpg' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>James Bennett</h4>
                  <span>Sous Chef</span>
                  <div class="social">
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End Team Member -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                  <div class="pic"><img src="{% static 'assets/img/chefs/chef4.jpg' %}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Isabella Carter</h4>
                    <span> Commis Chef</span>
                    <div class="social">
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->

              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                  <div class="pic"><img src="{% static 'assets/img/chefs/chef5.jpg' %}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Liam Walker</h4>
                    <span>Sauce Chef</span>
                    <div class="social">
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->

              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                  <div class="pic"><img src="{% static 'assets/img/chefs/chef6.jpg' %}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Ethan Mitchell</h4>
                    <span>Head Chef</span>
                    <div class="social">
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->
  
          </div>
  
        </div>
  
      </section><!-- /Chefs Section -->
    </main>

  {% include 'footer.html' %}
    
    
</body>
</html>