
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link href="{% static 'assets/img/favicon.jpg' %}" rel="icon">
  
  
</head>

<body>
    
  {% include 'header.html' %}

    <main class="main">
        <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <br><br>
          <h2>Gallery</h2>
          <div><span>Some photos from</span> <span class="description-title">Our Restaurant</span></div>
        </div><!-- End Section Title -->
  
        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row g-0">
  
            <div class="col-lg-4 col-md-4">
              <div class="gallery-item">
                <a href="{% static 'assets/img/gallery/lookimg1.JPG' %}" class="glightbox" data-gallery="images-gallery">
                  <img src="{% static 'assets/img/gallery/lookimg1.JPG' %}" style="width: 100%; height: 400px; object-fit: cover;" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->

  
            <div class="col-lg-4 col-md-4">
              <div class="gallery-item">
                <a href="{% static 'assets/img/gallery/foodimg1.JPG' %}" class="glightbox" data-gallery="images-gallery">
                  <img src="{% static 'assets/img/gallery/foodimg1.JPG' %}" style="width: 100%; height: 400px; object-fit: cover;" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-4 col-md-4">
              <div class="gallery-item">
                <a href="{% static 'assets/img/gallery/lightimg4.JPG' %}" class="glightbox" data-gallery="images-gallery">
                  <img src="{% static 'assets/img/gallery/lightimg4.JPG' %}" style="width: 100%; height: 400px; object-fit: cover;"alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-4 col-md-4">
              <div class="gallery-item">
                <a href="{% static 'assets/img/gallery/foodimg2.JPG' %}" class="glightbox" data-gallery="images-gallery">
                  <img src="{% static 'assets/img/gallery/foodimg2.JPG' %}"  style="width: 100%; height: 400px; object-fit: cover;" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-4 col-md-4">
              <div class="gallery-item">
                <a href="{% static 'assets/img/gallery/lightimg2.JPG' %}" class="glightbox" data-gallery="images-gallery">
                  <img src="{% static 'assets/img/gallery/lightimg2.JPG' %}"  style="width: 100%; height: 400px; object-fit: cover;" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-4 col-md-4">
              <div class="gallery-item">
                <a href="{% static 'assets/img/gallery/lookimg2.JPG' %}" class="glightbox" data-gallery="images-gallery">
                  <img src="{% static 'assets/img/gallery/lookimg2.JPG' %}" style="width: 100%; height: 400px; object-fit: cover;" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-4 col-md-4">
              <div class="gallery-item">
                <a href="{% static 'assets/img/gallery/lightimg3.JPG' %}" class="glightbox" data-gallery="images-gallery">
                  <img src="{% static 'assets/img/gallery/lightimg3.JPG' %}" style="width: 100%; height: 400px; object-fit: cover;" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-4 col-md-4">
              <div class="gallery-item">
                <a href="{% static 'assets/img/gallery/lookimg3.jpg' %}" class="glightbox" data-gallery="images-gallery">
                  <img src="{% static 'assets/img/gallery/lookimg3.jpg' %}" style="width: 100%; height: 400px; object-fit: cover;" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-4 col-md-4">
                <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/foodimg3.JPG' %}" class="glightbox" data-gallery="images-gallery">
                    <img src="{% static 'assets/img/gallery/foodimg3.JPG' %}" style="width: 100%; height: 400px; object-fit: cover;" alt="" class="img-fluid">
                  </a>
                </div>
              </div><!-- End Gallery Item -->
  
          </div>
  
        </div>
  
      </section><!-- /Gallery Section -->
  
    </main>


  {% include 'footer.html' %}
    
    
</body>
</html>