{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link href="{% static 'assets/img/favicon.jpg' %}" rel="icon">
  
  
</head>

<body>

    {% include 'header.html' %}


  <main class="main">
         <!-- Why Us Section -->
    <section id="why-us" class="why-us section" >

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <br><br>
        <h2>Why Us</h2>
        <div><span>Why choose</span> <span class="description-title">Our Restaurant</span></div>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <span>01</span>
              <h4><a href="" class="stretched-link">In-Room or Private Dining</a></h4>
              <p>For guests seeking privacy, private dining rooms or in-room dining experiences are available, where the chef and staff cater specifically to their needs, ensuring complete comfort and luxury</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <span>02</span>
              <h4><a href="" class="stretched-link">Live Music or Entertainment</a></h4>
              <p>Elegant live music, such as a string quartet or jazz band, enhances the dining ambiance. In our restaurant, live entertainment like opera or cultural performances is offered as part of the experience.</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <span>03</span>
              <h4><a href="" class="stretched-link">Exceptional Waitstaff Service</a></h4>
              <p>Waitstaff are highly trained in providing discreet, anticipatory service. They ensure that every guest is taken care of, without interrupting the flow of conversation, and are well-versed in menu knowledge and etiquette.</p>
            </div>
          </div><!-- Card Item -->

        </div>
        <br><br>
        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <span>04</span>
              <h4><a href="" class="stretched-link">Multi-Course Tasting Menus</a></h4>
              <p>Offering a selection of tasting menus, allowing guests to enjoy a curated experience of small, exquisite portions that showcase the chef’s creativity and expertise.
              </p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <span>05</span>
              <h4><a href="" class="stretched-link">Complimentary Valet Parking</a></h4>
              <p>For ultimate convenience, our restaurant offer valet parking services for their guests, ensuring a seamless arrival and departure experience.</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <span>06</span>
              <h4><a href="" class="stretched-link"> Holistic Dining Experience</a></h4>
              <p>The restaurant might incorporate wellness into its services, offering clean eating options, special dietary accommodations (like gluten-free or plant-based menus), and offering holistic experiences such as mindfulness during dining.</p>
            </div>
          </div><!-- Card Item -->

        </div>

        <br><br>
        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <span>07</span>
              <h4><a href="" class="stretched-link">Catering for Special Occasions</a></h4>
              <p>The restaurant may offer exclusive event catering services, such as for weddings, anniversaries, or corporate events, ensuring the same level of luxury and quality that guests experience when dining in the restaurant.</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <span>08</span>
              <h4><a href="" class="stretched-link">Membership or Loyalty Programs</a></h4>
              <p>Offering an exclusive membership that includes priority reservations, special events,personalized gifts. Members could also have access to private lounges or events outside of regular dining hours</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <span>09</span>
              <h4><a href="" class="stretched-link"> Chef’s Table Experiences</a></h4>
              <p> A Chef’s Table offers a front-row seat to watch the chefs prepare the meal in an intimate, personalized setting.</p>
            </div>
          </div><!-- Card Item -->

        </div>
      </div>

    </section><!-- /Why Us Section -->
  </main>


    {% include 'footer.html' %}
    
    
</body>
</html>